<p> These website was created as a vlog format in order to showcase the amazing places to go to in NYC.
I'm thrilled to share the places I've been to in hopes that others will want to go as well.</p>
