<p><i><b>Please make sure to wear a mask while being outside or with others.</i></b></p>

<div class="photos" style="max-width:500px" align="center">
  <img class="intro" src="/img/mask.png" style="width:100%">
</div>
