
 <div class="container text-center">
<h1>Traveling Vlogs</h1><br>
<h4>Recommended places to visit</h4>

{{> about-me }}

<p><div><a href="/relax" class="btn-default">Resting</a></div></p>
        <p><div><a href="/activity" class="btn-default">Activities</a></div></p>

<div class="photos" style="max-width:500px" align="center">
  <img class="intro" src="/img/hike.jpg" style="width:100%">
  <img class="intro" src="/img/falls.jpg" style="width:100%">
  <img class="intro" src="/img/eatery.jpg" style="width:100%">
</div>

</div>

<script src="/js/main.js"></script>
